<div class="container">
    <div class="form-container">
        <form method="POST">
            <h1>Send Message</h1>
            {{!-- <input type="text" name="username" placeholder="Username"> --}}
            <textarea name="content" id=""></textarea>
            <button class="form-btn">Send Message to {{contact.name}} ({{contact.phone}})</button>
        </form>
    </div>
    <div class="links">
        <a href="/contacts" class="nav-link">Back to contacts</a>
    </div>
</div>
