<div class="links-top">
    <a href="/contacts" class="nav-link">Back to contacts</a>
</div>
<div class="container">
    <div class="messages-container twitter-messages">
        {{#each messages}}
        <div class="message">
            <h4>{{this.message_data.text}}</h4>
        </div>
        {{/each}}
    </div>

</div>